<div id="app-view">
  <div id="create-view">
    <div class="create-card" routerLink="/add-question">
      <img class="create-card-icon" src="../../../assets/question.png" />
      <div class="create-card-content">
        <div class="create-card-content-title">
          Question
        </div>
        <div class="create-card-content-subtitle">
          Add your question to Pariksha's database of questions
        </div>
      </div>
    </div>
    <div class="create-card" routerLink="/create/test">
      <img class="create-card-icon" src="../../../assets/quiz.png" />
      <div class="create-card-content">
        <div class="create-card-content-title">
          Test
        </div>
        <div class="create-card-content-subtitle">
          Create a test that is personalized to either you or your child
        </div>
      </div>
    </div>
    <div class="create-card" [routerLink]="['/create/auto-quiz', { enteredText: '' }]">
      <img class="create-card-icon" src="../../../assets/qna.png" />
      <div class="create-card-content">
        <div class="create-card-content-title">
          Auto-Quiz
        </div>
        <div class="create-card-content-subtitle">
          Upload a document and let Pariksha test your knowledge with Auto-Quiz
        </div>
      </div>
    </div>
  </div>
</div>
