#lonely {
    margin: calc(50% - 110px) auto;
    width: 100%;

    &-image {
        display: block;
        margin: 0 auto;
    }
    
    &-title {
        font-size: 15px;
        padding: 15px;
        text-align: center;
    }
}