<div id="app-view">
  <div class="page-title">
    <h3>Choose Input</h3>
  </div>
  <div id="create-view">
    <div class="create-card">
      <img class="create-card-icon" src="../../../assets/text.png" />
      <div class="create-card-content">
        <div class="create-card-content-title">
          Text
        </div>
        <div class="create-card-content-subtitle">
          Enter Question via Text Input
        </div>
      </div>
    </div>
    <div class="create-card">
      <img class="create-card-icon" src="../../../assets/image.png" />
      <div class="create-card-content">
        <div class="create-card-content-title">
          Image
        </div>
        <div class="create-card-content-subtitle">
          Enter Question via Image Input
        </div>
      </div>
    </div>
    <div class="create-card">
      <img class="create-card-icon" src="../../../assets/speech.png" />
      <div class="create-card-content">
        <div class="create-card-content-title">
          Speech
        </div>
        <div class="create-card-content-subtitle">
          Enter Question via voice Input
        </div>
      </div>
    </div>
  </div>
</div>
