@import '../../../common';

#search {
    &-bottom-line {
        background-color: $primary-color;
    }

    &-box {
        border: none;
        color: $primary-color;
        font-size: medium;
        height: 30px;
        padding-left: 25px;
        width: 100%;

        &-container {
            position: relative;
        }

        &-icon {
            background-image: url("../../../assets/magnifying-glass-small.png");
            height: 16px;
            width: 16px;
            position: absolute;
            top: 30%;
        }
    }

    &-box:focus {
        outline: none;
    }

    &-box::-webkit-input-placeholder {
        font-size: 12px;
    }

    &-container {
        background-color: $foreground-color;
        margin-bottom: 15px;
        padding: 15px;
        position: relative;

        &-resize {
            bottom: 0;
            left: 0;            
            position: absolute;
            width: 100%;

            &-collapse {
                background: url("../../../assets/down-arrow.png");
            }

            &-expand {
                background: url("../../../assets/up-arrow.png");
            }
        }
    }

    &-filters {
        &-more {
            align-items: center;            
            color: $tertiary-color;
            display: flex;
            margin-top: 10px;
            position: absolute;
            right: 5px;

            &-icon {
                background: url("../../../assets/filter.png");
                display: inline-block;
                height: 16px;
                margin-right: 5px;
                width: 16px;
            }
        }
    }
}

.search {
    &-container {
        &-collapse {
            height: 80px;
            transition: height 0.15s ease-out;
        }

        &-expand {
            height: 200px;
            transition: height 0.15s ease-out;
        }

        &-resize-icon {
            height: 16px;
            margin: 0 auto;
            width: 16px;
        }
    }

    &-filter {
        &-container {
            margin-bottom: 5px;
        }

        &-options {
            margin-top: 5px;
        }

        &-option {
            border: 1px solid;
            color: $primary-color;
            display: inline-block;
            margin-right: 3px;
            padding: 5px;
            text-align: center;
            width: 40px;

            &.grade {
                width: 25px;
            }
        }

        &-title {
            color: $tertiary-color;
            font-size: 9.5px;
            font-weight: bold;
        }
    }
}