<div id="app-view">
  <div id="home-background-container">
    <div id="home-background-container-title">
      Empowering educators and students to achieve more
    </div>
  </div>
  <div id="home-activity-container">
    <div class="home-label">RECENT ACTIVITY</div>
    <div class="home-items">
      <div class="home-item">
        <div>
          <img src="../../../assets/math.png" />
        </div>
        MATH 101
      </div>
      <div class="home-item">
        <div>
          <img src="../../../assets/geography.png" />
        </div>
        US Capitals
      </div>
      <div class="home-item">
        <div>
          <img src="../../../assets/history.png" />
        </div>
        Ancient Greece
      </div>            
    </div>
    <div class="home-label home-trending">TRENDING QUIZZES</div>
    <div class="home-items">
      <div class="home-item">
        <div>
          <img src="../../../assets/biology.png" />
        </div>
        Structure of Cells
      </div>
      <div class="home-item">
        <div>
          <img src="../../../assets/english.png" />
        </div>
        Plurals
      </div>
      <div class="home-item">
        <div>
          <img src="../../../assets/chemistry.png" />
        </div>
        Haber Process
      </div>            
    </div>    
  </div>
</div>
