/* You can add global styles to this file, and also import other style files */
@import 'common';

body {        
    @include gradient-background();
    color: $foreground-color;
    font-family: $font-family;
    font-size: 9px;
}

#app-view {
    height: calc(100vh - 110px);
    margin-top: 55px;
    overflow-y: auto;

    #top-button {
        font-size: larger;
        position: fixed;
        right: 10px;
        top: 13px;
    }


    .fab {
        @include user-select(none);
        display: flex;
        background-color: $tertiary-color;
        position: fixed;
        bottom: 75px;
        right: 12px;
        outline: none;
        cursor: pointer;
        width: 60px;
        height: 60px;
        text-align: center;
        font-size: 32px;
        z-index: 3500;
        border-radius: 50%;
        box-shadow:0px 0px 3px rgba(0,0,0,0.5),3px 3px 3px rgba(0,0,0,0.25);
        transition: 0.2s opacity ease-in-out;
        -webkit-transition: 0.2s opacity ease-in-out;
        border: 0;
        overflow: hidden; 
    }

    .fab:after {
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 120px;
        height: 120px;
        margin-left: -60px;
        margin-top: -60px;
        background: #aaa;
        border-radius: 100%;
        opacity: .6;
        transform: scale(0); 
    }

    @keyframes ripple {
        0% {
            transform: scale(0); 
        }
        20% {
            transform: scale(1); 
        }
        100% {
            opacity: 0;
            transform: scale(1); 
        } 
    }

    .fab:not(:active):after {
        animation: ripple 3s ease-out; 
    }
}

.page-title {
    margin-left: 2.5%;
}