/* You can add global styles to this file, and also import other style files */
@import 'common';

body {        
    @include gradient-background();
    color: $foreground-color;
    font-family: $font-family;
}

#app-view {
    height: calc(100vh - 110px);
    margin-top: 55px;
    overflow-y: auto;
}