<div id="navbar" (clickOutside)="outsideClicked()" (click)="navbarClicked()">
  <div id="navbar-top">
    <div *ngIf="!isBackButtonEnabled">
      <span class="navbar-app-title" id="navbar-title">pariksha</span>
      <span id="navbar-icon" (click)="hamburgerClicked()">
        <i class="icons navbar-icons navbar-icons-hamburger" aria-hidden="true"></i>
      </span>
    </div>
    <div *ngIf="isBackButtonEnabled">
        <span id="navbar-title">{{pageTitle}}</span>
        <span id="navbar-icon" (click)="backButtonClicked()">
          <i class="icons navbar-icons navbar-icons-back" aria-hidden="true"></i>
        </span>
    </div>
  </div>
  <div id="navbar-sidepanel" *ngIf="isSidePanelOpen">

  </div>
  <div id="navbar-bottom">
    <a class="navbar-bottom-button" id="navbar-bottom-home" routerLink="/home" routerLinkActive="active">
      <i class="icons navbar-icons navbar-icons-bottom navbar-icons-home" aria-hidden="true"></i>
      <div class="navbar-bottom-button-title">HOME</div>
    </a>
    <a class="navbar-bottom-button" id="navbar-bottom-search" routerLink="/search" routerLinkActive="active">
      <i class="icons navbar-icons navbar-icons-bottom navbar-icons-magnifying-glass" aria-hidden="true"></i>
      <div class="navbar-bottom-button-title">SEARCH</div>
    </a>
    <a class="navbar-bottom-button" id="navbar-bottom-create" routerLink="/create" routerLinkActive="active">
      <i class="icons navbar-icons navbar-icons-bottom navbar-icons-admission-form" aria-hidden="true"></i>
      <div class="navbar-bottom-button-title">CREATE</div>
    </a>
    <a class="navbar-bottom-button" id="navbar-bottom-profile" routerLink="/profile" routerLinkActive="active">
      <i class="icons navbar-icons navbar-icons-bottom navbar-icons-avatar" aria-hidden="true"></i>
      <div class="navbar-bottom-button-title">ME</div>
    </a>
  </div>
</div>
