@import '../../../common';

#navbar {
    &-bottom {
        @include box-shadow(-1px, -8px, 12px, -6px, #828282);
        background-color: $off-foreground-color;
        bottom: 0;
        display: flex;
        height: 55px;
        left: 0;
        position: fixed;
        width: 100%;
    }

    &-icon {
        margin-left: 10px;
        margin-top: 5px;
        position: absolute;
    }

    &-sidepanel {
        @include box-shadow(4px, 0px, 4px, 0px, #444);
        background: $tertiary-color;
        height: 100vh;
        left: 0;
        position: absolute;
        top: 0;
        width: 65%;
        z-index: 3500;
    }

    &-title {
        position: absolute;
        text-align: center;
        width: 100%;
        font-size: 22px;
    }

    &-top {
        color: $foreground-color;
        height: 50px;
        left: 0;
        padding: 5px 0 10px 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 3000;
    }
}

.navbar {
    &-app-title {
        font-family: 'Yatra One', cursive;
        font-size: 28px !important;
    }

    &-bottom-button {
        padding: 5px;
        width: 25%;     

        &.active{
           .navbar-icons-admission-form {
               background-image: url("../../../assets/admission-form-active.png");
           }

           .navbar-icons-avatar {
               background-image: url("../../../assets/avatar-active.png");
           }

           .navbar-icons-home {
               background-image: url("../../../assets/home-active.png");
           }

           .navbar-icons-magnifying-glass {
               background-image: url("../../../assets/magnifying-glass-active.png");
           }

           .navbar-bottom-button-title {
               color: $primary-color;
           }
        }

        &-title {
            color: $inactive-color;
            font-size: 10px;
            text-align: center;
        }   
    }   

    &-icons {
        height: 32px;
        width: 32px;

        &-bottom {
            margin-left: calc(50% - 13px);
        }

        &-admission-form {
            background-image: url("../../../assets/admission-form.png");    
        }

        &-avatar {
            background-image: url("../../../assets/avatar.png");
        }

        &-back {
            background-image: url("../../../assets/left-arrow.png");
        }

        &-hamburger {
            background-image: url("../../../assets/menu.png");
        }  

        &-home {
            background-image: url("../../../assets/home.png");
        }

        &-magnifying-glass {
            background-image: url("../../../assets/magnifying-glass.png");
        }                      
    }
    
    &-page-title {
        margin-top: 5px;
    }
}