@import '../../../common';

#navbar {
    &-hamburger {
        left: 10px;
        position: fixed;
    }

    &-sidepanel {
        @include box-shadow();
        background: $tertiary-color;
        height: 100vh;
        left: 0;
        position: absolute;
        top: 0;
        width: 65%;
        z-index: 3500;
    }

    &-title {
        position: fixed;
        text-align: center;
        width: 100%;
    }

    &-top {
        color: $foreground-color;
        font-family: 'Yatra One', cursive;
        font-size: xx-large;
        height: 50px;
        left: 0;
        padding: 10px 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 3000;
    }
}